body {
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(240, 236, 230);
}

.message{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.listing_page{
    margin: 5px;
    background-color: rgb(233, 241, 248);
}

.indv_listing{
    padding-left: 175px;
    border-bottom: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.indv_listing-image{
    height: 200px;
    width: 150px;
    padding: 3px;
}
.listing-title{
    font: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: x-large;
}
.listing-desc{
    font: bold, italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size:medium;
}
.listing-price{
    padding-left: 10px;
}
.comment-group{
    border-width: 2px;
    border-color: black;
    background-color: rgb(230, 234, 230);
    padding: 2px;
    border: black;
}
.comment-item{
    padding-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
    border: thin solid black;
    margin: 2px;
}

.comment-date{
    font-size: x-small;
}
.watchlist-btn{
    padding-left: 87px;
}
.bid-form{
    padding-left: 52px;
}