{% extends "auctions/layout.html" %}

{%block body %}
    <form action="{% url 'create' %}", method="post">
    {%csrf_token %}


    <div class="form-group">
        <input autofocus class="form-control" type="text" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="description" placeholder="Description">
    </div>
    <div class="form-group">
        <input class="form-control" type="int" name="bid" placeholder="Starting Bid">
    </div> 
    <div class="form-group">
        <input class="form-control" type="url" name="URL" placeholder="URL">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="category" placeholder="Category">
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
</form>

{%endblock%}