{% extends "auctions/layout.html" %}

{%block body %}

    {%if message%}
        {{message}}
    {%endif%}

    <form action="{% url 'create' %}", method="post">
    {%csrf_token %}

    <div class="form-group">
       <div class="form-control"> Title:{{form.title}}</div>
    </div>
    <div class="form-group">
       Description:{{form.description}}
    </div>
    <div class="form-group">
       <div class="form-control"> Starting Bid:{{form.start_bid}}</div>
    </div> 
    <div class="form-group">
       <div class="form-control"> Image URL:{{form.url}} </div>
    </div>
    <div class="form-group">
        <div class="form-control"> Category: {{form.category}} </div>
     </div>
    <div class="form-group">
       <div class="form-control"> End Date:{{form.end_date}} </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Save">

    </form>

{%endblock%}