{% extends 'auctions/layout.html' %}

{% block body %}

<div class="listing-title">
    {{page.title}}
</div>
<div class="listing-desc">
    {{page.description}}
</div>
<div class="listing-image">
    {%if page.image%}
    <img src={{page.image}} alt={{page.description}} width="200px" height="275px">
    {% endif %}
</div>
<div class="listing-desc">
    {% if page.category%}
        {{page.category}}
    {% endif %}
</div>
<div class="listing-price">
    Current Bid: £{{page.current_price.current_bid}}
</div>
<div class="listing-price">
    Auction ends:  {{page.end_date}}
    {{listing.date}}
</div>
<form action="{% url 'listing' page.id %}" method="POST">
    {%csrf_token%}
    {{ bid_form }}
    <input class="btn btn-primary" type="submit" name="bid_form" value="Bid">
</form>
<div class="btn-outline-light">
    <button type="button">
        <a href="">Add to Watchlist</a>
      </button>
</div>
<form action="{% url 'listing' page.id %}" method="POST">
    {%csrf_token%}
    {{ comment_form }}
    <input class='btn btn-primary' type="submit" value="Save Comment">
</form>
<div class="listing_page" style=auctions/styles.css>
    {%for listing_comment in listing_comments%}
        <div class="listing-title">
        {{listing_comment.comment_for_user}}
        </div>
        <div class="comment-item">
        {{listing_comment.comment}}
        </div>
        <div class="listing_page">
        {{listing_comment.date}}
        </div>
    {%endfor%}
</div>
<div class="message">
    {% if message %}
    {{ message }}
    {% endif %}
</div>

{% endblock %}